@media (min-width: 992px) {
    .home-feature {
        margin-top: 40px;
    }

    .description {
        text-align: center;
    }

    .description img {
        display: block;

        margin-top: 2em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        
    }

    .iphone {
        width: 50%; 
        margin: 0 auto;
        display: block;
    }

    .footer-menu div {
        border-bottom: 1px solid #3d65b7;
        padding: 1em;
    } 

}

/* Medium devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .home-feature {
        margin-top: 40px;
    }

    .description {
        text-align: center;
    }

    .description img {
        display: block;

        margin-top: 2em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        
    }

    .iphone {
        width: 50%; 
        margin: 0 auto;
        display: block;
    }

    .footer-menu div {
        border-bottom: 1px solid #3d65b7;
        padding: 1em;
    } 

    .footer-menu div:last-child {
        border-bottom: none;
    }
}
/* Small devices (tablets, 767px and up) */

@media (max-width: 767px) {
    .home-content {
        text-align: center;
    }
    .section-title {
        text-align: center;
    }
    .footer-menu div {
        margin: 2em;
    }

    .iphone {
      width: 50%;
      margin: 0 auto;
      display: block;
    }

    .description {
        text-align: center;
    }

    .description img {
        display: block;

        margin-top: 2em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        
    }

    .footer-menu div {
        border-bottom: 1px solid #3d65b7;
        padding: 1em;
    } 

    .footer-menu div:last-child {
        border-bottom: none;
    }
}
/* Extra Small Devices (Phone, 480px and up) */

@media (max-width: 480px) {
    .home-content {
        padding-top: 0px;
    }

    .footer-menu div {
        margin: 2em;
    }

}
