/* Medium devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .home-feature {
        margin-top: 40px;
    }
}
/* Small devices (tablets, 767px and up) */

@media (max-width: 767px) {
    .home-content {
        text-align: center;
    }
    .section-title {
        text-align: center;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-content {
        text-align: center;
    }
}
/* Extra Small Devices (Phone, 480px and up) */

@media (max-width: 480px) {
    .home-content {
        padding-top: 0px;
    }

}
